/*
CSS for normal browsers.
*/

body {
    background-color: #eeeeee;
    margin: 0;
    font-family: helvetica, sans-serif;
}

/*
Header
 */
header img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

header .slide {
    display: none;
}

header h1 {
    position: absolute;
    color: #eeeeee;
    padding-left: 10%;
    padding-top: 20px;
}

/*
Footer
 */
footer {
    background-color: cornflowerblue;
    clear: both;
    text-align: center;
    padding: 20px;
}

/*
Layout
 */
.content, nav {
    margin: auto;
    width: 80%;
}

section {
    clear: both;
}

aside {
    float: right;
    width: 25%;
    padding-left: 5%;
}

section, h2 .mainTitle {
    float: left;
    width: 70%;
}

/*
Navigation bar
 */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: block;
}

nav ul li a.activeTab {
    color: cornflowerblue;
}

nav ul li:hover {
    background-color: #d3d3d3;
}

/*
Article layout
 */
.picture img{
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.picture p {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    font-size: small;
}

.picture .text {
    font-style: italic;
}

.picture .credit {
    font-weight: bold;
}

.ingress {
    font-size: large;
    font-style: oblique;
}

.byline {
    font-size: small;
    padding-left: 10px;
}

.byline .author {
    font-weight: bold;
}

/*
Misc
 */
.tooltip {
    font-weight: bold;
}