body, nav ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    font-family: lucida helvetica, sans-serif;
}

/*
Grid elements
 */
header {
    grid-area: header;
}

nav {
    grid-area: nav;
    align-items: center;
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/*
################
 */

/*
Navigation bar
 */

nav img.logo {
    max-height: 30px;
    padding: 5px;
}
nav {
    height: 40px;
}

.dropdown-button {
    background-color: inherit;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #eeeeee;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a:not(.logo) {
    color: black;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: cornflowerblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: cornflowerblue;
}

.dropdown .activeTab {
    background-color: cornflowerblue;
}

/*
Header
 */
header img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*
Footer
 */
footer {
    background-color: cornflowerblue;
    clear: both;
    text-align: center;
    padding: 20px;
}

/*
Aside
 */
aside {
    padding: 5px;
}

aside ul {
    list-style: none;
    line-height: 140%;
}

aside ul li a {
    text-decoration: none;
}

/*
Article styling
 */
article {
    padding: 5px;
}

.picture .large {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.picture .wide {
    width: 100%;
    max-height: 25vh;
    object-fit: cover;
}

.picture .normal {
    max-width: 100%;
    object-fit: cover;
}

.picture p {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    font-size: small;
}

.picture .text {
    font-style: italic;
}

.picture .credit {
    font-weight: bold;
}

.picture .credit a {
    text-decoration: none;
}

.ingress {
    font-size: large;
    font-style: oblique;
}

.byline {
    font-size: small;
    padding-left: 10px;
}

.byline .author {
    font-weight: bold;
}

/*
Misc
 */
.tooltip {
    border-bottom: 1px dotted;
}

/*
################
Grid layout
 */

/*
Mobile
 */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "nav"
            "section"
            "footer";

}

header img {
    display: none;
}

aside {
    display: none;
}

/*
Smaller screen/ tablet
 */
@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 50% 20% 1fr;
        grid-template-areas:
                "logo nav nav ."
                "header header header header"
                ". section section ."
                "footer footer footer footer";
    }

    header img {
        display: block;
    }
}

/*
Desktop
 */
@media screen and (min-width: 1101px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 50% 20% 1fr;
        grid-template-areas:
                "logo nav nav ."
                "header header header header"
                ". section aside ."
                "footer footer footer footer";
    }

    header img {
        display: block;
    }

    aside {
        display: block;
    }

    /*
    Navigation bar
     */
    .dropdown-button {
        display: none;
    }
    
    .dropdown {
        float: left;
    }

    nav a {
        float: left;
        min-width: inherit;
    }

    nav a .activeTab {
        color: cornflowerblue;
    }

    .dropdown-content {
        display: block;
        position: inherit;
        min-width: inherit;
    }
}
