body {
    background-color: #eeeeee;
    margin: 0;
    font-family: helvetica, sans-serif;
}

header, footer {
    padding: 20px;
}

header {
    background-color: firebrick;
}

footer {
    background-color: cornflowerblue;
    clear: both;
    text-align: center;
}

.content, nav, header h1 {
    margin: auto;
    width: 80%;
}

section {
    clear: both;
}

aside {
    float: right;
    width: 25%;
    padding-left: 5%;
}

section:not(.content), h2 .mainTitle {
    float: left;
    width: 70%;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #d3d3d3;
}

.byline {
    font-size: small;
    padding-left: 10px;
}

.byline .author {
    font-weight: bold;
}

.picture img{
    width: 100%;
}

.picture p {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    font-size: small;
}

.picture .text {
    font-style: italic;
}

.picture .credit {
    font-weight: bold;
}

.ingress {
    font-size: large;
    font-style: oblique;
}

.content h3 {
    padding-left: 10px;
}

.tooltip {
    font-weight: bold;
}